.btn{
    text-transform: uppercase;
    text-decoration: none;
}
.btn-primary{
    color: #f9f9f9;
    &:hover {
        color: #fff;
        outline: 0;
    }
}
.btn-bet{
    border: 3px solid transparent;
}