header{
    background-color: #485359;
    min-height: 50px !important;
    .nav-link{
        opacity: .7;
        color: #fff;
    
    }
    .nav-link:hover, .nav-link:focus{
        opacity: 1;
        color: #fff;
    }
}
