.flex{
    display: flex;
    align-items: center; 
}
.label-wrapper{
    min-width: 20px;
}
.date-input{
    //display: flex;
}
.margin-datepicker{
    margin-left: 10px;
}
.form-check-padding{
    margin-left: 40px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.label-check-top{
    margin-left: 5px;
    padding-top: 5px;
}
.table-responsive{
    margin-top: 20px;
}
.budge-block{
    display: flex;
}
.budge-item{
    margin-left: 10px;
}
.budge-item:first-child{
    margin-left: 0;
}
.b-calendar .b-calendar-grid .row {
    --bs-gutter-x: 0;
}