.flex{
    display: flex;
    align-items: center; 
}
.blackcircle {
    background-color:$primary;
    width: 200px;
    height: 200px;
    border-radius:50%; 
    justify-content: center;
    align-items: center;
    display: flex;
}
.whitecircle {
    background-color: white;
    color: black;
    width: 90%;
    height: 90%;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
.circle-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.statistic_numeral{
    display: block;
    font-size: 40px;
    font-weight: 590;
}
.statistic_text{
    text-align: center;
    width: 100px;
    line-height: 15px;
    font-size: 12px;
}
.label-wrapper{
    min-width: 25px;
    align-items: center;
}
.form-check-padding{
    margin-left: 40px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.label-check-top{
    margin-left: 5px;
    padding-top: 5px;
}
.table-responsive{
    margin-top: 20px;
}
.budge-block{
    display: flex;
}
.budge-item{
    margin-left: 10px;
}
.budge-item:first-child{
    margin-left: 0;
}
.budge-item-text{

    color: #060606;
    font-size: 14px;
    font-weight: 600;
    cursor: auto !important;
    border: 1px solid #ced4da !important;
}
.b-calendar .b-calendar-grid .row {
    --bs-gutter-x: 0;
}
.flip-list-move {
    transition: transform 1s;
  }
  .filter-link{
      color: inherit;
      text-decoration: none;
  }
  .filter-link:hover{
      cursor: pointer;
      color:#2d7ffa;
      text-decoration: none;
  }
  .page_active{
      background: $primary;
      border: 1px solid $primary;
      color: #fff;
  }
table{
    overflow:  hidden;
    line-height: 18px;
    font-size: 14px;
}
th{
    color: #060606;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
}
.form-check-input{
    cursor: pointer;
}
.main{
    background-color: #fff !important;
    padding: 30px 32px;
}
.main>div{
    min-height: 100%;
}
.spin-table{
    justify-content: center;
    align-items: center;
    display: flex;
}
td{
    vertical-align: middle;
}
.date-text{
    background: $primary;
    color: white;
    font-weight: 700;
}
.form-check-input{
    min-width: 15px;
}
.mt-logic-block{
    margin-top: 60px;
}
.badge{
    margin-left: auto;
}
.topString{
    background-color: #E7ECFF;
    //color: #fff !important; 
    //font-weight: 700;
}
.table-container{
    max-width: 500px;
    min-width: 100px;
    word-break: break-all;
}
.xs-table-name{
    color: #060606;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
}
.detail-carousel .ribbon {
    position: absolute;
    top: 20px;
    left: 4px;
    z-index: 999
}

.detail-carousel .ribbon+.ribbon {
    top: 80px
}

.detail-carousel .ribbon+.ribbon+.ribbon {
    top: 145px
}
.btn.btn-expand,
.ribbon {
    position: absolute;
    text-align: center
}

.ribbon {
    top: 10px;
    left: -11px;
    z-index: 900;
    display: inline-block;
    font-family: 'Space Grotesk', sans-serif;
    font-size: .8rem;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 3px 15px 5px;
    color: #fff
}

.ribbon+.ribbon {
    top: 60px
}

.ribbon+.ribbon+.ribbon {
    top: 110px
}

.ribbon+.ribbon+.ribbon+.ribbon {
    top: 160px
}

.ribbon:before {
    content: "";
    border-left: 12px solid transparent;
    border-right: 0 solid transparent;
    border-top: 14px solid #1460a0;
    position: absolute;
    bottom: -14px;
    left: 0
}

.ribbonPrimary {
    background-color: #3494e6 !important
}

.ribbonPrimary:before {
    border-top-color: #1460a0
}

.ribbonSecondary {
    background-color: #868e96 !important
}

.ribbonSecondary:before {
    border-top-color: #555b61
}

.ribbonSuccess {
    background-color: #28a745 !important
}

.ribbonSuccess:before {
    border-top-color: #145523
}

.ribbonInfo {
    background-color: #17a2b8 !important
}

.ribbonInfo:before {
    border-top-color: #0c525d
}

.ribbonWarning {
    background-color: #ffd65a !important
}

.ribbonWarning:before {
    border-top-color: #f3b700
}

.ribbonDanger {
    background-color: #dc3545 !important
}

.ribbonDanger:before {
    border-top-color: #921925
}

.ribbonLight {
    background-color: #f8f9fa !important
}

.ribbonLight:before {
    border-top-color: #bdc6d0
}

.ribbonDark {
    background-color: #343a40 !important
}

.ribbonDark:before {
    border-top-color: #060708
}

.ribbon-gray-100 {
    background-color: #f8f9fa !important
}

.ribbon-gray-100:before {
    border-top-color: #bdc6d0
}

.ribbon-gray-200 {
    background-color: #e9ecef !important
}

.ribbon-gray-200:before {
    border-top-color: #aeb9c4
}

.ribbon-gray-300 {
    background-color: #dee2e6 !important
}

.ribbon-gray-300:before {
    border-top-color: #a4afba
}

.ribbon-gray-400 {
    background-color: #ced4da !important
}

.ribbon-gray-400:before {
    border-top-color: #94a1ae
}

.ribbon-gray-500 {
    background-color: #adb5bd !important
}

.ribbon-gray-500:before {
    border-top-color: #748290
}

.ribbon-gray-600 {
    background-color: #868e96 !important
}

.ribbon-gray-600:before {
    border-top-color: #555b61
}

.ribbon-gray-700 {
    background-color: #495057 !important
}

.ribbon-gray-700:before {
    border-top-color: #1a1d20
}

.ribbon-gray-800 {
    background-color: #343a40 !important
}

.ribbon-gray-800:before {
    border-top-color: #060708
}

.ribbon-gray-900 {
    background-color: #212529 !important
}

.ribbon-gray-900:before {
    border-top-color: #000
}
.quickview .ribbon {
    position: absolute;
    top: 30px;
    left: -12px;
    z-index: 999
}

.quickview .ribbon+.ribbon {
    top: 80px
}

.quickview .ribbon+.ribbon+.ribbon {
    top: 145px
}
.tool-xs{
    position: absolute;
    top: -18px;
    right: -6px;
}