nav{
    min-height: 50px !important;
    li{
        margin-left: 20px;
    }
    li:first-child {
        margin-left: 0;
    }
    a{
        color:black;
    }
}
.navbar{
    align-items: stretch !important;
}